{% extends "base.html" %}
{% load static %}
{% block title %}Профіль користувача{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Профіль користувача</h1>
    <div class="profile-info d-flex align-items-center mb-4 border p-4 rounded shadow-sm">
        <div class="profile-picture mr-4">
            {% if profile_user.profile_picture %}
                <img src="{{ profile_user.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail" width="150" height="150">
            {% else %}
                <img src="{% static 'img/default_profile_picture.png' %}" alt="Default Profile Picture" class="img-thumbnail" width="150" height="150">
            {% endif %}
        </div>
        <div>
            <p><strong>Ім'я:</strong> {{ full_name }}</p>
            <p><strong>Електронна пошта:</strong> {{ profile_user.email }}</p>
            <p><strong>Телефон:</strong> {{ profile_user.phone_number }}</p>
            <p><strong>Telegram:</strong>
                {% if profile_user.telegram_name %}
                    {{ profile_user.telegram_name }}
                {% else %}
                    Не вказано
                {% endif %}
            </p>
            <p><strong>Дата реєстрації:</strong> {{ profile_user.date_joined|date:"d M Y" }}</p>
            <p><strong>Роль:</strong> {{ profile_user.get_role_display }}</p>
        </div>
    </div>

    <div class="profile-settings mt-4">
        <form method="post" action="{% url 'update_profile' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Редагувати профіль</button>
        </form>
    </div>

    {% if profile_user.role == 'renter' %}
        <div class="renter-section mt-5">
            <h3>Інформація для Орендаря</h3>
            <p><strong>Історія оренди:</strong> {{ profile_user.renter_profile.rental_history|default_if_none:"Немає інформації" }}</p>
            <p><strong>Бажані властивості:</strong> {{ profile_user.renter_profile.preferred_properties|default_if_none:"Не вказано" }}</p>
            <form method="post" action="{% url 'update_renter_profile' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="rental_history">Історія оренди:</label>
                    <textarea class="form-control" id="rental_history" name="rental_history">{{ profile_user.renter_profile.rental_history|default_if_none:'' }}</textarea>
                </div>
                <div class="form-group">
                    <label for="preferred_properties">Бажані властивості:</label>
                    <textarea class="form-control" id="preferred_properties" name="preferred_properties">{{ profile_user.renter_profile.preferred_properties|default_if_none:'' }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Зберегти зміни</button>
            </form>
        </div>
    {% elif profile_user.role == 'landlord' %}
        <div class="landlord-section mt-5">
            <h3>Інформація для Орендодавця</h3>
            <p><strong>Дата початку хостингу:</strong> {{ profile_user.landlord_profile.hosting_since|date:"d M Y"|default:"Інформація для орендодавця ще не заповнена." }}</p>
        </div>
    {% endif %}
</div>
{% endblock %}
